.upload-container .file-upload {
  border: dashed 2px #eee;
  border-radius: 2px;
  background-color: #fafafa;
  height: 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  color: #dbdbdb;
}
